<a href="https://colab.research.google.com/github/neerajjaat18/lab-1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Create a sample dataset
data = {
    'Destination': ['Paris', 'Rome', 'Paris', 'New York', 'Rome', 'Tokyo'],
    'Total Cost': [1000, 800, 1200, 1500, 900, 1800]
}

df = pd.DataFrame(data)

# Calculate average total cost by destination
average_cost_by_destination = df.groupby('Destination')['Total Cost'].mean()

print(average_cost_by_destination)

Destination
New York    1500.0
Paris       1100.0
Rome         850.0
Tokyo       1800.0
Name: Total Cost, dtype: float64

In [ ]:
import pandas as pd

# Create a sample dataset
data = {
    'Start Date': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01'],
    'End Date': ['2022-01-08', '2022-02-08', '2022-03-08', '2022-04-08', '2022-05-08', '2022-06-08']
}

df = pd.DataFrame(data)

# Convert dates to datetime format
df['Start Date'] = pd.to_datetime(df['Start Date'])
df['End Date'] = pd.to_datetime(df['End Date'])

# Calculate range of travel dates
min_start_date = df['Start Date'].min()
max_end_date = df['End Date'].max()

print(f"Range of travel dates: {min_start_date} to {max_end_date}")

Range of travel dates: 2022-01-01 00:00:00 to 2022-06-08 00:00:00

In [ ]:
import pandas as pd

# Create a sample dataset
data = {
    'Start Date': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01'],
    'End Date': ['2022-01-08', '2022-02-08', '2022-03-08', '2022-04-08', '2022-05-08', '2022-06-08']
}

df = pd.DataFrame(data)

# Convert dates to datetime format
df['Start Date'] = pd.to_datetime(df['Start Date'])
df['End Date'] = pd.to_datetime(df['End Date'])

# Extract month from start date
df['Month'] = df['Start Date'].dt.month

# Calculate most common travel period
most_common_travel_period = df['Month'].mode()[0]

print(f"Most common travel period: {most_common_travel_period}")

Most common travel period: 1

In [ ]:
import pandas as pd

# Create a sample dataset
data = {
    'Destination': ['Paris', 'Rome', 'Paris', 'New York', 'Rome', 'Tokyo']
}

df = pd.DataFrame(data)

# Calculate number of unique destinations
unique_destinations = df['Destination'].nunique()

print(f"Number of unique destinations: {unique_destinations}")

Number of unique destinations: 4

In [ ]:
import pandas as pd

# Create a sample dataset
data = {
    'Start Date': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01'],
    'End Date': ['2022-01-08', '2022-02-08', '2022-03-08', '2022-04-08', '2022-05-08', '2022-06-08']
}

df = pd.DataFrame(data)

# Convert dates to datetime format
df['Start Date'] = pd.to_datetime(df['Start Date'])
df['End Date'] = pd.to_datetime(df['End Date'])

# Define specific range
start_year = 2022
end_year = 2022

# Check if all dates fall within specific range
dates_within_range = (df['Start Date'].dt.year >= start_year) & (df['End Date'].dt.year <= end_year)

if dates_within_range.all():
    print("All dates fall within the specified range.")
else:
    print("Not all dates fall within the specified range.")

All dates fall within the specified range.